@keyframes borderAnimation {
    0% {
        transform: scaleX(0.5);
    }
    100% {
        transform: scaleX(1);
    }
}

.active {
    position: relative;
}

.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    animation: borderAnimation 0.3s ease-in;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(33, 33, 33);
    position: sticky;
    top:0;
    z-index: 1000;
}
nav ul{
    display:flex;
}
nav .title{
    font-size: 1.5rem;
    margin:1rem;
    font-weight: bold;
    text-decoration: none;
    color:rgb(41, 114, 186);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    display: block;
    text-decoration: none;
    color:white;
    padding: 0.5rem;
    padding-bottom: 1.2rem;
    margin: 0.8rem;
    margin-bottom: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav ul li a:not(.active):hover{
    
    box-shadow: inset 0 -2px 0 rgb(255, 255, 255);
    transition: 0.2s ease-out;
}
nav .menu{
    display: none;
    position: absolute;
    top:0.75rem;
    right:0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}
nav .menu span{
    height: 0.4rem;
    width: 100%;
    background-color: white;
    border-radius: 0.2rem;
}
@media(max-width: 580px){
    nav .menu{
        display: flex;
        transition: 0.3s ease-in;
    }
    nav{
        flex-direction: column;
        align-items: center;
        transition: 0.3s ease-in;
        border-radius: px;
    }
    nav ul{
        display: none;
        flex-direction: column;
        width:100%;
        margin-bottom: 0.5rem;
        transition: 0.3s ease-in;
    }
    nav ul li{
        width:100%;
        text-align: center;
        transition: 0.3s ease-in;
    }
    nav ul li a{
        margin: 0.2rem 0.5rem;
        transition: 0.3s ease-in;
    }
    nav ul.open{
        display: flex;
        transition: 1s ease-in-out;
    }

}