.card1 {
    position: relative;
    top:5%;
    width: 70%;
    height: 40%;
    border-radius: 4px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #858484,
                  -20px -20px 60px #b7b6b5;
    text-align: left;
    padding-left: 5%;
    padding-top: 2%;
    padding-right: 5%;
    word-wrap: break-word;
}
   h2{
    position: relative;
    left: -1.5vw;
    color: black;
    font-size: 4vw;
    margin-bottom: 10px;
    font-family: Playfair Display;
   }
   p2{
    font-family: Playfair Display;
    color: rgb(58, 58, 58);
    text-align: left;
    width:70%;
    font-size: 1.2vw;
   }
   .playfair-display-myuniqueclass {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Replace with the desired font weight */
    font-style: normal;
  }